- Não deve aplicar cupom de descconto exprirado
- Deve calcular o frete considerando as dimensãoes do item
- Deve retornar o valor minimo de 10 caso o valor calculado seja inferior


-> você não deve escrever NENHUM linha de código sem que ANTES exista uma linha que falha
-> você não deve MAIS DO QUE O NECESSÁRIO para  evidenciar uma falha
-> você não deve escrever mais código do que o suficiente para fazer o teste passar

FIRST
- F Fast
- I Independent
- R Repeatable
- S Self-validation
- T timely

SOLID
- S Single Responsability
  Separe partes do código que mudam por mótivos diferentes

- O Open/Closed
Você deve estar aberto para extensão e fechado para modificação
- L Liskov Substitution
- I Interface Segragation
- D Dependency Invertion

- High level modules MUST NOT DEPEND ON low level modules

- Given/When/Then
- Arrange/Act/Assert

Facede
Abstrai um subsistema mais complexo oferecendo uma interface mais simples de interação

Refactoring

Introdução de objeto parâmetro (Dimension) / Builder

Invariance
Estado Interno do objeto que deve ser consistente sempre

Strategy 
Chavear o comportamento em tempo de execução

